<header style="background:#01082d;padding:14px 20px;display:flex;justify-content:space-between;align-items:center;">

  <a href="/" style="color:#fff;font-weight:bold;font-size:18px;text-decoration:none;">
    Taleem.Help
  </a>

  <div style="color:#fff;font-size:14px;">

  <% if(typeof displayName !== "undefined" && displayName){ %>

    <span><%= displayName %></span>
    &nbsp;|&nbsp;
    <a href="/logout" style="color:white;">Logout</a>

  <% } else { %>

    <a href="/register" style="color:white;">Register</a>
    &nbsp;|&nbsp;
    <a href="/login" style="color:white;">Login</a>

  <% } %>

  </div>

</header>