

<div id="answers-view"></div>

  <div class="answers-container">
    <div class="answers-content">

      <h2>Discussion / FAQ</h2>

      <div id="discussion-list"></div>

    </div>
  </div>

</div>